:root {
    --black: #101209;
    --button: #1d1d1b;
    --font: #fff;
    --width: 300px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Helvetica, Sans-Serif;
    background: url("WarOfDots.png");
    color: var(--font);
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: fixed;
    width: 100vw;
    z-index: 10000;
    background-color: var(--black); 
    padding: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > p {
    padding-top: 11px;
}

main {
    padding-top: 120px;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.scheldule {
    width: var(--width);
    max-width: 90vw;
    min-height: 200px;
    background-color: var(--black);
    margin: 14px 18px;
    border-radius: 13px;
    padding: 5px;
}

.scheldule > h2 {
    padding: 5px;
    padding-left: 12px;
    font-size: 17px;
}

.scheldule > div {
    font-size: 14px;
    padding: 9px 5px 5px 12px;
    margin: 12px;
    margin-top: 3px;
    width: calc(100% - 42px);
    height: 0;
    min-height: 61px;
    background-color: var(--button);
    border-radius: 8px;
}

.scheldule > div > * {
    margin: 5px 0;
}

#content {
    padding: 100px 0;
    display: flex;
    justify-content: center;
}

#content > a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 40px;
    background-color: var(--black);
    color: var(--font);
    border: none;
    border-radius: 8px;
    transition: 0.3s ease-out transform;
    transform: translateY(0);
}

#content > a:hover {
    text-decoration: underline;
    transform: translateY(-8px);
}

#changelog {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    max-width: 90vw;
    flex-direction: column;
    padding-bottom: 90px;
}

#changelog > div {
    background-color: var(--black);
    color: var(--font);
    font-size: 17px;
    padding: 20px 40px;
    border-radius: 8px;
    margin: 10px 0;
    width: calc(100% - 80px);
}

#changelog > div > b {
    font-size: 19px;
    padding-bottom: 9px;
}