:root {
    --black: #101209;
    --font: #fff;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Helvetica, Sans-Serif;
    background: linear-gradient(120deg, #773f1f, #581e0f);
    color: var(--font);
    min-height: 100vh;
}

header {
    background-color: var(--black); 
    padding: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main > div > div {
    width: 300px;
    min-height: 200px;
    background-color: var(--black);
    margin: 30px 18px;
    border-radius: 13px;
    padding: 5px;
}

main > div > div > h2 {
    padding: 5px;
    padding-left: 12px;
    font-size: 17px;
}

main > div > div > div {
    font-size: 14px;
    padding: 9px 5px 5px 12px;
    margin: 12px 12px;
    width: 256px;
    height: 0;
    min-height: 61px;
    background-color: #242528;
    border-radius: 8px;
}

main > div > div > div > * {
    margin: 5px 0;
}

#content {
    padding: 100px 0;
    display: flex;
    justify-content: center;
}

#content > a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 40px;
    background-color: var(--black);
    color: var(--font);
    border: none;
    border-radius: 8px;
    transition: 0.3s ease-out transform;
    transform: translateY(0);
}

#content > a#hover:hover {
    text-decoration: underline;
    transform: translateY(-8px);
}

#changelog {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    max-width: 90vw;
    flex-direction: column;
    padding-bottom: 90px;
}

#changelog > div {
    background-color: var(--black);
    color: var(--font);
    font-size: 17px;
    padding: 20px 40px;
    border-radius: 8px;
    margin: 10px 0;
    width: calc(100% - 80px);
}

#changelog > div > b {
    font-size: 19px;
    padding-bottom: 9px;
}