*, root {
    padding: 0;
    margin: 0;
}

body {
    font-family: Helvetica, Sans-Serif;
    background: linear-gradient(120deg, #773f1f, #581e0f);
    color: #fff;
    min-height: 100vh;
}

header {
    background-color: #101209; 
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
}

main > div > div {
    width: 300px;
    min-height: 200px;
    background-color: #101209;
    margin: 30px 18px;
    border-radius: 13px;
    padding: 5px;
}

main > div > div > h2 {
    padding: 5px;
    padding-left: 12px;
    font-size: 17px;
}

main > div > div > div {
    font-size: 14px;
    padding: 9px 5px 5px 12px;
    margin: 12px 12px;
    width: 256px;
    height: 0;
    min-height: 61px;
    background-color: #242528;
    border-radius: 8px;
}

main > div > div > div > * {
    margin: 5px 0;
}