:root {
    --black: #101209e6;
    --button: #44444262;
    --font: #fff;
    --width: 300px;
    --backgound-width: 100vw;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Helvetica, Sans-Serif;
    font-family: "Play", sans-serif;
    background: linear-gradient(120deg, #773f1f, #581e0f);
    background: radial-gradient(#00550014, #130d0a80), url("WarOfDots.png");
    background-position: center;
    background-attachment: fixed;
    background-size: var(--backgound-width);
    color: var(--font);
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: fixed;
    width: 100vw;
    z-index: 10000;
    background-color: var(--black); 
    padding: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 28px;
}

header > p {
    padding-top: 10px;
    font-size: 14px;
}

#roadmap {
    width: 1000px;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

main {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.scheldule {
    width: var(--width);
    max-width: 90vw;
    min-height: 200px;
    background-color: var(--black);
    margin: 14px 18px;
    border-radius: 13px;
    padding: 5px;
}

.scheldule > h2 {
    padding: 5px;
    padding-left: 12px;
    font-size: 17px;
}

.scheldule > div {
    font-size: 14px;
    padding: 9px 5px 5px 12px;
    margin: 12px;
    margin-top: 3px;
    width: calc(100% - 42px);
    height: 0;
    min-height: 61px;
    background-color: var(--button);
    border-radius: 8px;
}

.scheldule > div > * {
    margin: 5px 0;
}

#content {
    padding: 35px 0 0 0;
    display: flex;
    justify-content: center;
}

#content > a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 40px;
    background-color: var(--black);
    color: var(--font);
    border: none;
    border-radius: 8px;
    transition: 0.3s ease-out transform;
    transform: translateY(0);
    box-shadow: none;
}

#content > a:hover {
    text-decoration: underline;
    transform: translateY(-8px);
    box-shadow: #773f1f33 0 0 10px 5px;
}

.changelog {
    padding-top: 120px;
}

.changelog {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    max-width: 90vw;
    flex-direction: column;
    padding-bottom: 90px;
}

.changelog > div {
    background-color: var(--black);
    color: var(--font);
    font-size: 17px;
    padding: 20px 40px;
    border-radius: 8px;
    margin: 10px 0;
    width: calc(100% - 80px);
}

.changelog > div > b {
    font-size: 19px;
    padding-bottom: 9px;
}
